
.container{
    background-image: url('./images/111.png');
    width: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 10%;
    padding: 10px;
    background-color: rgb(243, 237, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x:hidden ;

}
body{
    background-image: url('./images/polygon_colorful_shapes_pattern_4k_8k_hd_abstract-3840x2160.jpg');
}
.carte{
    position: fixed;
    
}
.icone .carte{
    font-size:50px;
    margin-left: 20px;
}


@media (max-width:767px) {
    .container img{
        width: 130px;
        max-height: 100%;
       
    }
}
@media (min-width:768px) {
    .container img {
        max-width: 250px;
        margin-left: 80px;
        
        
    }
}

@media (min-width:992px) {
    .container img {
        max-width: 300px;
         margin-left: 120px;
        margin-right: 75px;
    }

}

@media (min-width:1200px) {
    .container img {
        max-width: 400px;
       
    }
}