* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('./images/polygon_colorful_shapes_pattern_4k_8k_hd_abstract-3840x2160.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: rgb(251, 86, 26);
}

.hederi{
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 110, 31);
    padding: 15px;
}

.clases{
    max-width: 700px;
    margin: 0 auto;
    color: rgb(220, 213, 213);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    position: relative;
    margin: 30px;
    background-color: rgb(248, 71, 7);
    width: 250px;
    text-align: center;


}
.image--img{
    display: block;
    width: 100%;
}
.image--ovrly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    
} 

.image--ovrly:hover{
    opacity: 1;
}

@media (max-width:767px) {
    .image {
        max-width: 100%;
        max-height: 100%;
       
        
    }
}


@media (min-width:768px) {
    .image {
        max-width: 200px;
       
        
        
    }
}

@media (min-width:992px) {
    .image {
        max-width: 250px;
         
       
    }

}

@media (min-width:1200px) {
    .image {
        max-width: 300px;
       
    }
}

